<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.hoonProject.UserMapper">

	<select id="getUser" resultType="java.util.HashMap">
		SELECT USER_ID
		     , USER_STATUS
		  FROM WEB_FTP.USER_INFO
		 WHERE USER_ID = #{userId}
		   AND USER_PW = #{userPw}
	</select>
</mapper>